/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2021, 1:16:56 PM
    Author     : muffi
*/
 body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #FFE4B5; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: 	#FF00FF; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  
  .clip-text {
  background: url(https://i.imgur.com/LGtR3ku.gif);
  background-size: cover;
  background-position: center;
  
  -webkit-background-clip: text;
  color: transparent;  ss
  
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
}

@keyframes animation {
  from {
    letter-spacing: 16px;
  }
  to {
    letter-spacing: 0;
  }
}

.animated {
  animation: animation 5s ease infinite;
}

h2 {
  text-transform: uppercase;
  white-space: nowrap;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + #div1{
    padding-top: 140px;
    
}